<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img
          src="https://lh3.googleusercontent.com/5jtaMUFHcgYs0YAPjYiNgJgc4pxYIlPFJhyW0uYVSMpUku8rhuMaMDvTg-Oz3agPahlzTK2Q8CTKEOzivPY8Rmo6Q0OyzAEQEnKDrtZ4gNFdSgzLRNS0u0-nPApcJlrSLp-BXAQP7AajhPOiwNxZYyr9RXmnZIucP1SCR1mCxO5soEmBpXzZoDuY2-v3FEd1gwUvGDIEp127Em73PxpBTwvyXguzx9ejhxkH5K8sJUH5IjFjtE7BLdr2VOOAR-GJMaYO25bLw8AUrZ2GDU8HcVf6Sqjj1Ofts1cL22eWxx9vYA1YDzf0Vs64CPbf2d8b1MmQoO1xWTDU2dqvb2Ma64p2TQXSMwJX8Bixq57wjRRQUuvSWijyxceU1nJ_K-keXm20AobywmBNceySF2Tj9u5c5WJ_JfiuW4XfakocvaWSTQo6jUY3gfKoCRO6pDnYh0rOa526CdFKiQ1JYeJxJjCXBoarKd65Bb1iNSOskhjA7LvZoIWyMLtMchScb4zDxd2w4L-_mJrNkHqVqSrHlLTBuOjphVuZT2uMd9U-VfKHhn0fWn-rKDPd1jx-KSDPpxyfE9w9suiAVjZarQ674YEE6giRMvKbJ0eo3lbjGKRNaP8p3BF389lftzAuiXwVgkdR8CRab1daIBu0iFGKt0vilSBeEt5_FceBmTS3auV2YW-LH4e_An4Bw13jvk5q5yo0qMEEj1JUOrcs7SEsjUEY=w167-h225-no?authuser=0"
          alt="Imagem do User" width="50px" height="50px" class=" rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário(a)</p>
      </li>

      <li class="nav-item pl-3">
        <a href="#">
            <p class="fs-16 text-white m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
        </a>
      </li>
    </ul>

    <ul  class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16 mr-3">Sair <i class="fas fa-sign-out-alt"></i></a>
          </li>
    </ul>

  </div>
</nav>
