#img-bg{
    min-height: 721px;
    background-color: #3f51b5;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color{
    background-color: #3f51b5;
    border: #3f51b5;
}


@media (max-width: 1205px) {
  img{
    width: 400px;
  }
}

@media (max-width: 700px) {
  img{
    width: 300px;
  }
}
