/* You can add global styles to this file, and also import other style files */
body{
  padding: 0!important;
}

html{
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.bg-my-secondary{
    background: repeating-linear-gradient(45deg, black, #014ea1 100px)  ;
}

.bg-my-secondary-nr{
    background-color: #014ea1;
}
